In [16]:
import pandas as pd
import geopandas as gpd

In [ ]:
# Download the giger shape files from: https://www2.census.gov/geo/tiger/TIGER2020PL/LAYER/TABBLOCK/2020/
# You can then reverse geocode the centroids from: https://www.geoapify.com/tools/reverse-geocoding-online

In [6]:
alabama = gpd.read_file('../data/shapefiles/tl_2020_01_tabblock20.zip')
alabama

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,HOUSING20,POP20,geometry
0,01,133,965700,3025,011339657003025,Block 3025,G5040,R,NaN,NaN,S,27642,0,+34.2430014,-087.6271966,5,15,"POLYGON ((-87.62818 34.24378, -87.62790 34.243..."
1,01,015,001600,1026,010150016001026,Block 1026,G5040,U,02629,U,S,124157,0,+33.7081655,-085.8594188,10,20,"POLYGON ((-85.86498 33.71246, -85.86495 33.712..."
2,01,015,001101,2065,010150011012065,Block 2065,G5040,R,NaN,NaN,S,242040,0,+33.5832632,-085.7919734,3,17,"POLYGON ((-85.79456 33.58557, -85.79437 33.585..."
3,01,015,002502,1053,010150025021053,Block 1053,G5040,R,NaN,NaN,S,40222,0,+33.8556542,-085.9163828,1,2,"POLYGON ((-85.91755 33.85641, -85.91734 33.856..."
4,01,033,020300,3003,010330203003003,Block 3003,G5040,U,29953,U,S,22668,0,+34.7611216,-087.7092484,36,68,"POLYGON ((-87.71026 34.76094, -87.71001 34.761..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185971,01,097,006104,2004,010970061042004,Block 2004,G5040,R,NaN,NaN,S,5373820,35548,+30.8649417,-088.1609083,25,47,"POLYGON ((-88.17854 30.85847, -88.17749 30.859..."
185972,01,051,030101,2034,010510301012034,Block 2034,G5040,R,NaN,NaN,S,187610,2093,+32.7054574,-086.3948957,2,10,"POLYGON ((-86.39667 32.71061, -86.39659 32.711..."
185973,01,051,030300,2008,010510303002008,Block 2008,G5040,R,NaN,NaN,S,122882,43517,+32.7526750,-085.9055665,17,11,"POLYGON ((-85.90854 32.75463, -85.90703 32.754..."
185974,01,047,957000,1028,010479570001028,Block 1028,G5040,R,NaN,NaN,S,9601051,45562,+32.4147650,-087.4023216,2,0,"POLYGON ((-87.42235 32.40840, -87.42234 32.414..."
185975,01,111,000500,3025,011110005003025,Block 3025,G5040,R,NaN,NaN,S,345515,2525,+33.1399897,-085.4062441,1,0,"POLYGON ((-85.40917 33.14069, -85.40894 33.141..."

# Get centroid

In [8]:
alabama['centroid'] = alabama['geometry'].centroid
alabama

/var/folders/31/_flrh_251y578sg72lx1yb780000gn/T/ipykernel_2621/1374544942.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  alabama['centroid'] = alabama['geometry'].centroid

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,HOUSING20,POP20,geometry,centroid
0,01,133,965700,3025,011339657003025,Block 3025,G5040,R,NaN,NaN,S,27642,0,+34.2430014,-087.6271966,5,15,"POLYGON ((-87.62818 34.24378, -87.62790 34.243...",POINT (-87.62720 34.24300)
1,01,015,001600,1026,010150016001026,Block 1026,G5040,U,02629,U,S,124157,0,+33.7081655,-085.8594188,10,20,"POLYGON ((-85.86498 33.71246, -85.86495 33.712...",POINT (-85.85942 33.70817)
2,01,015,001101,2065,010150011012065,Block 2065,G5040,R,NaN,NaN,S,242040,0,+33.5832632,-085.7919734,3,17,"POLYGON ((-85.79456 33.58557, -85.79437 33.585...",POINT (-85.79197 33.58326)
3,01,015,002502,1053,010150025021053,Block 1053,G5040,R,NaN,NaN,S,40222,0,+33.8556542,-085.9163828,1,2,"POLYGON ((-85.91755 33.85641, -85.91734 33.856...",POINT (-85.91638 33.85565)
4,01,033,020300,3003,010330203003003,Block 3003,G5040,U,29953,U,S,22668,0,+34.7611216,-087.7092484,36,68,"POLYGON ((-87.71026 34.76094, -87.71001 34.761...",POINT (-87.70925 34.76112)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185971,01,097,006104,2004,010970061042004,Block 2004,G5040,R,NaN,NaN,S,5373820,35548,+30.8649417,-088.1609083,25,47,"POLYGON ((-88.17854 30.85847, -88.17749 30.859...",POINT (-88.16131 30.86477)
185972,01,051,030101,2034,010510301012034,Block 2034,G5040,R,NaN,NaN,S,187610,2093,+32.7054574,-086.3948957,2,10,"POLYGON ((-86.39667 32.71061, -86.39659 32.711...",POINT (-86.39489 32.70542)
185973,01,051,030300,2008,010510303002008,Block 2008,G5040,R,NaN,NaN,S,122882,43517,+32.7526750,-085.9055665,17,11,"POLYGON ((-85.90854 32.75463, -85.90703 32.754...",POINT (-85.90556 32.75303)
185974,01,047,957000,1028,010479570001028,Block 1028,G5040,R,NaN,NaN,S,9601051,45562,+32.4147650,-087.4023216,2,0,"POLYGON ((-87.42235 32.40840, -87.42234 32.414...",POINT (-87.40259 32.41466)
185975,01,111,000500,3025,011110005003025,Block 3025,G5040,R,NaN,NaN,S,345515,2525,+33.1399897,-085.4062441,1,0,"POLYGON ((-85.40917 33.14069, -85.40894 33.141...",POINT (-85.40623 33.13999)

In [11]:
len(alabama['GEOID20'].unique())

185976

In [12]:
alabama[['GEOID20', 'centroid']].to_csv('../data/shapefiles/alabama_block_centroid.csv.xz')

In [22]:
fips_county = pd.read_csv('../data/fips_county.csv.xz', dtype={'fips':object})
fips_county

       fips             county
0     01000            alabama
1     01001     autauga_county
2     01003     baldwin_county
3     01005     barbour_county
4     01007        bibb_county
...     ...                ...
3190  56037  sweetwater_county
3191  56039       teton_county
3192  56041       uinta_county
3193  56043    washakie_county
3194  56045      weston_county

[3195 rows x 2 columns]

In [23]:
fips_county[fips_county['county'].str.contains('jefferson_county')]

       fips            county
37    01073  jefferson_county
148   05069  jefferson_county
278   08059  jefferson_county
360   12065  jefferson_county
476   13163  jefferson_county
587   16051  jefferson_county
647   17081  jefferson_county
748   18077  jefferson_county
853   19101  jefferson_county
946   20087  jefferson_county
1064  21111  jefferson_county
1455  28063  jefferson_county
1556  29099  jefferson_county
1644  30043  jefferson_county
1728  31095  jefferson_county
1882  36045  jefferson_county
2118  39081  jefferson_county
2200  40067  jefferson_county
2260  41031  jefferson_county
2314  42065  jefferson_county
2514  47089  jefferson_county
2688  48245  jefferson_county
3018  53031  jefferson_county
3061  54037  jefferson_county
3126  55055  jefferson_county

In [24]:
alabama['county_id'] = alabama['STATEFP20'] + alabama['COUNTYFP20']
alabama

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,HOUSING20,POP20,geometry,centroid,county_id
0,01,133,965700,3025,011339657003025,Block 3025,G5040,R,NaN,NaN,S,27642,0,+34.2430014,-087.6271966,5,15,"POLYGON ((-87.62818 34.24378, -87.62790 34.243...",POINT (-87.62720 34.24300),01133
1,01,015,001600,1026,010150016001026,Block 1026,G5040,U,02629,U,S,124157,0,+33.7081655,-085.8594188,10,20,"POLYGON ((-85.86498 33.71246, -85.86495 33.712...",POINT (-85.85942 33.70817),01015
2,01,015,001101,2065,010150011012065,Block 2065,G5040,R,NaN,NaN,S,242040,0,+33.5832632,-085.7919734,3,17,"POLYGON ((-85.79456 33.58557, -85.79437 33.585...",POINT (-85.79197 33.58326),01015
3,01,015,002502,1053,010150025021053,Block 1053,G5040,R,NaN,NaN,S,40222,0,+33.8556542,-085.9163828,1,2,"POLYGON ((-85.91755 33.85641, -85.91734 33.856...",POINT (-85.91638 33.85565),01015
4,01,033,020300,3003,010330203003003,Block 3003,G5040,U,29953,U,S,22668,0,+34.7611216,-087.7092484,36,68,"POLYGON ((-87.71026 34.76094, -87.71001 34.761...",POINT (-87.70925 34.76112),01033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185971,01,097,006104,2004,010970061042004,Block 2004,G5040,R,NaN,NaN,S,5373820,35548,+30.8649417,-088.1609083,25,47,"POLYGON ((-88.17854 30.85847, -88.17749 30.859...",POINT (-88.16131 30.86477),01097
185972,01,051,030101,2034,010510301012034,Block 2034,G5040,R,NaN,NaN,S,187610,2093,+32.7054574,-086.3948957,2,10,"POLYGON ((-86.39667 32.71061, -86.39659 32.711...",POINT (-86.39489 32.70542),01051
185973,01,051,030300,2008,010510303002008,Block 2008,G5040,R,NaN,NaN,S,122882,43517,+32.7526750,-085.9055665,17,11,"POLYGON ((-85.90854 32.75463, -85.90703 32.754...",POINT (-85.90556 32.75303),01051
185974,01,047,957000,1028,010479570001028,Block 1028,G5040,R,NaN,NaN,S,9601051,45562,+32.4147650,-087.4023216,2,0,"POLYGON ((-87.42235 32.40840, -87.42234 32.414...",POINT (-87.40259 32.41466),01047
185975,01,111,000500,3025,011110005003025,Block 3025,G5040,R,NaN,NaN,S,345515,2525,+33.1399897,-085.4062441,1,0,"POLYGON ((-85.40917 33.14069, -85.40894 33.141...",POINT (-85.40623 33.13999),01111

In [25]:
al = alabama[alabama['county_id'] == '01073'] # Birmingham is in Jefferson County
al

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,HOUSING20,POP20,geometry,centroid,county_id
162,01,073,011210,1060,010730112101060,Block 1060,G5040,U,07786,U,S,203568,0,+33.6634300,-086.6908283,88,216,"POLYGON ((-86.70033 33.66577, -86.70033 33.665...",POINT (-86.69310 33.66422),01073
163,01,073,011205,1067,010730112051067,Block 1067,G5040,U,07786,U,S,193805,0,+33.6839540,-086.6861249,29,51,"POLYGON ((-86.69024 33.68323, -86.68986 33.684...",POINT (-86.68612 33.68395),01073
164,01,073,011304,1006,010730113041006,Block 1006,G5040,R,NaN,NaN,S,9232,0,+33.7620649,-086.7844527,4,1,"POLYGON ((-86.78561 33.76202, -86.78481 33.762...",POINT (-86.78445 33.76206),01073
165,01,073,005910,2010,010730059102010,Block 2010,G5040,U,07786,U,S,5071,0,+33.6400119,-086.7041945,0,0,"POLYGON ((-86.70449 33.63981, -86.70436 33.640...",POINT (-86.70419 33.64001),01073
166,01,073,010604,5023,010730106045023,Block 5023,G5040,U,07786,U,S,5444,0,+33.4788236,-086.9110512,5,8,"POLYGON ((-86.91159 33.47908, -86.91050 33.479...",POINT (-86.91105 33.47882),01073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185831,01,073,011004,1037,010730110041037,Block 1037,G5040,R,NaN,NaN,S,58187,0,+33.5235283,-086.5497686,0,0,"POLYGON ((-86.55197 33.52199, -86.55189 33.522...",POINT (-86.54977 33.52353),01073
185840,01,073,012910,1000,010730129101000,Block 1000,G5040,U,07786,U,S,3878,566,+33.4325789,-086.7141356,0,0,"POLYGON ((-86.71488 33.43314, -86.71433 33.432...",POINT (-86.71402 33.43251),01073
185952,01,073,005500,2028,010730055002028,Block 2028,G5040,U,07786,U,S,133013,0,+33.5763289,-086.7913023,0,0,"POLYGON ((-86.79381 33.57535, -86.79350 33.575...",POINT (-86.79130 33.57633),01073
185953,01,073,011116,2031,010730111162031,Block 2031,G5040,R,NaN,NaN,S,0,5677,+33.6950588,-086.5851913,0,0,"POLYGON ((-86.58538 33.69504, -86.58535 33.695...",POINT (-86.58519 33.69506),01073
185966,01,073,011600,4041,010730116004041,Block 4041,G5040,R,NaN,NaN,S,0,37427,+33.7073641,-086.9569459,0,0,"POLYGON ((-86.96492 33.71115, -86.96389 33.710...",POINT (-86.95831 33.70865),01073